<?xml version="1.0" encoding="UTF-8"?>
<!-- © 2022 Anna Vasileva. All rights reserved.-->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>MovieSite</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>LoginPageServlet</servlet-name>
		<servlet-class>LoginPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginPageServlet</servlet-name>
		<url-pattern>/MovieSite/loginPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RegisterPageServlet</servlet-name>
		<servlet-class>RegisterPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterPageServlet</servlet-name>
		<url-pattern>/MovieSite/registerPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>HomePageServlet</servlet-name>
		<servlet-class>HomePage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomePageServlet</servlet-name>
		<url-pattern>/MovieSite/homePage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TVShowsServlet</servlet-name>
		<servlet-class>TVShows</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TVShowsServlet</servlet-name>
		<url-pattern>/MovieSite/tvShowsPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MoviesPageServlet</servlet-name>
		<servlet-class>MoviesPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoviesPageServlet</servlet-name>
		<url-pattern>/MovieSite/moviesPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MyListPageServlet</servlet-name>
		<servlet-class>MyListPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyListPageServlet</servlet-name>
		<url-pattern>/MovieSite/myListPage</url-pattern>
	</servlet-mapping>

</web-app>